[core]
	quotepath = false
	excludesfile = ~/.git/.gitignore
	autocrlf = input
	editor = vim
  pager = delta
[user]
	name = Dima Ryskin
	useConfigOnly = true
	email = dima.ryskin@gmail.com
[github]
	user = aSapien
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[delta]
  decorations = true
  line-numbers = true
  side-by-side = true
  colorMoved = true
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
[interactive]
  diffFilter = delta --color-only
